main {
    width: 95%;
    margin: 0 auto;
}

html, body {
background-color: #ffffff;
}
body {
margin: 0;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 13px;
font-weight: normal;
color: #404040;
background-color: red;
}

h1 {
font-size: 300%;
margin: 0;
padding: 0;
}

h1, h2{
text-align: center;
text-transform: uppercase;
}

@media screen and (min-width:700px){
    .column {
        width: 30%;
        display: inline-block;
        float: left;
        margin-left: 2%;
    }
}

@media screen and (min-width:800px){
    body{
        background-color: red;
    }
}
@media screen and (min-width:1000px){
    body{
        background-color: blue;
    }
}
@media screen and (min-width:1200px){
    body{
        background-color: green;
    }
}
/*
✔✔
<meta name = 'viewport' content = 'width = device-width,initial-scale = 1'>

Disallow Zooming:
❌❌
<meta name = 'viewport' content = 'width = device-width,initial-scale = 1, maximum-scale = 1'>

