/*
body{
	margin: 1%;
	padding:1%;
	background-color: rgba(0,0,255,.2);
	font-size: 100%;
	min-width: 500px;
}
header, footer{
  background-color:#0066FF;
  padding: 1%;
  margin: 1%;
}
header h1{
	font-size: 3rem;
	color:rgba(0,0,0,.7);;
}
section{
  margin:1%;
    padding:1%;
}
nav a{
	display:block;
	background-color: white;
	border: 1px solid black;
	text-align: center;
	border-radius: 35px;
	text-decoration: none;
	padding: 2%;
	margin: 1%;
}
h1{
	text-align: center;
	color:rgba(255,0,0,.7);;
}
.myClass{
	margin: 0em 1em;
	padding:.75em;
	border: 1px solid black;
	border-radius: .25%;

	-webkit-column-count:3;
	-moz-column-count: 3;
	column-count:3;
	
}
ol{
	list-style:upper-roman; 
	margin:1em;
}
img{
	display: none;
}
footer{
	clear: both;
	text-align:center;
	text-transform: uppercase;
}

@media all and (min-width:900px){
    header, footer{
        background-color:#CBCBFF;
        padding: 1%;
        margin: 1%;
      }
    header h1{

        visibility: hidden;
    }
    header h1::after{
        content: 'Web Design is Awesome!!!(I guess...)';
        visibility: visible;
        font-size: 3rem;
        color:rgba(0,0,0,.7);
        display: block;
    }
    #left, #center{
        height: 10vh;
        width: 100%;
    }
    #left{
        display: grid;
        float: left;
        width: 30%;
    }
    #center{
        display: grid;
        float: right;
        width: 60%;

    }
    div img{
        display:inline-block;
        width: 200px;
        float: right;
    }


    footer{
        padding: 200px;
    }
}

@media print{
    header h1{
        font-size: 1em;
        color:rgba(0,0,0,.7);;
    }
    nav a{
        display:block;
        background-color: none;
        border: none;
        text-align: center;
        border-radius: none;
        text-decoration: underline;
        padding: 0;
        margin: 1%;
    }
    img{
        display: none;
    }
    body{
        background-color: none;
    }
}
*/

/*Griffin Philip Sabu*/
/*
body{
	margin: 1%;
	padding:1%;
	background-color: rgba(0,0,255,.2);
	font-size: 100%;
	min-width: 500px;

}
header, footer{
  background-color:#0066FF;
  padding: 1%;
  margin: 1%;
}
header h1{
	font-size: 3rem;
	color:rgba(0,0,0,.7);;

}

section{
  margin:1%;
    padding:1%;
}

nav a{
	display:block;
	background-color: white;
	border: 1px solid black;
	text-align: center;
	border-radius: 35px;
	text-decoration: none;
	padding: 2%;
	margin: 1%;
}

h1{
	text-align: center;
	color:rgba(255,0,0,.7);;
}


.myClass{
	margin: 0em 1em;
	padding:.75em;
	border: 1px solid black;
	border-radius: .25%;

	-webkit-column-count:3;
	-moz-column-count: 3;
	column-count:3;

}

ol{
	list-style:upper-roman;
	margin:1em;
}
img{
	display: none;
}

footer{
	clear: both;
	text-align:center;
	text-transform: uppercase;
}


@media screen and (min-width: 900px)
{
  body {
    background-color: #cbccff;
  }
  header, footer {
    background-color: inherit;
    margin-top: 0px;
  }
  header h1:after {

content: '(I guess...)';

}
  #left {
    width: 32%;
    display: inline-block;
    float: left;
  }
  #center {
    width: 60%;
    display: inline-block;
  }
  img{
    display: inline-block;
    width: 21%;
    margin: 4% 0 -5% 3%;
  }
}

@media print
{
  header h1 {
    font-size: 1em;
  }
  nav a{
    display: block;
    text-decoration: underline;
    border: 0px;
    margin: 0%;
    padding: 0%;
  }
  body {
    padding: 0%;
    margin: 0%;
    background: #ffffff;
  }
  header, footer {
    background-color: inherit;
  }
  .myClass {
    -webkit-column-count:1;
  	-moz-column-count: 1;
  	column-count:1;
  }
  #center h2 {
    margin-top: -2%;
  }
}
*/
/*NGOC VAN DUC*/
/*
body{
	margin: 1%;
	padding:1%;
	background-color: rgba(0,0,255,.2);
	font-size: 100%;
	min-width: 500px;

}
header, footer{
  background-color:#0066FF;
  padding: 1%;
  margin: 1%;
}
header h1{
	font-size: 3rem;
	color:rgba(0,0,0,.7);;

}
section{
  margin:1%;
    padding:1%;
}

nav a{
	display:block;
	background-color: white;
	border: 1px solid black;
	text-align: center;
	border-radius: 35px;
	text-decoration: none;
	padding: 2%;
	margin: 1%;
}
h1{
	text-align: center;
	color:rgba(255,0,0,.7);;
}

.myClass{
	margin: 0em 1em;
	padding:.75em;
	border: 1px solid black;
	border-radius: .25%;

	-webkit-column-count:3;
	-moz-column-count: 3;
	column-count:3;
	
}
ol{
	list-style:upper-roman; 
	margin:1em;
}
img{
	display:none;
}
footer{
	clear: both;
	text-align:center;
	text-transform: uppercase;
}
@media only screen and (min-width:900px){
  
  img{
    display:inline-block;
    width: 20%;
    padding:1%;
    margin-left:1%;
  }
  header, footer{
    background-color: transparent;
  }
  #left{
    display: inline-block;
    width:30%;
    float: left;
  }
  #center{
    display: inline-block;
    width: 60%
  }
  h1::after {
    content:"“I guess”??"
  }
}

@media only print and (min-width:0px){
    header h1 {
        font-size: 1em;
    }
    nav a {
	background-color: transparent;
	border: none;
	text-decoration: underline;
	padding: 0;
	margin: 0;
    }
    

    .myClass{

	-webkit-column-count: 1;
	-moz-column-count: 1;
	column-count: 1;	
    }
}
*/
/*Manik. M. Vernekar*/
/*
body{
	margin: 1%;
	padding:1%;
	background-color: rgba(0,0,255,.2);
	font-size: 100%;
	min-width: 500px;

}
header, footer{
  background-color:#0066FF;
  padding: 1%;
  margin: 1%;
}
header h1{
	font-size: 3rem;
	color:rgba(0,0,0,.7);;

}

section{
  margin:1%;
    padding:1%;
}

nav a{
	display:block;
	background-color: white;
	border: 1px solid black;
	text-align: center;
	border-radius: 35px;
	text-decoration: none;
	padding: 2%;
	margin: 1%;
}

h1{
	text-align: center;
	color:rgba(255,0,0,.7);;
}


.myClass{
	margin: 0em 1em;
	padding:.75em;
	border: 1px solid black;
	border-radius: .25%;

	-webkit-column-count:3;
	-moz-column-count: 3;
	column-count:3;
	
}



ol{
	list-style:upper-roman; 
	margin:1em;
}
img{
	display: none;
}

footer{
	clear: both;
	text-align:center;
	text-transform: uppercase;
}
@media only screen and (min-width:900px){
  
  img{
    display:inline-block;
    width: 20%;
    padding:1%;
    margin-left:1%;
  }
  header, footer{
    background-color: transparent;
  }
  #left{
    display: inline-block;
    width:30%;
    float: left;
  }
  #center{
    display: inline-block;
    width: 60%
  }
  h1::after {
    content:"“I guess”??"
  }
}

@media only print and (min-width:0px){
    header h1 {
        font-size: 1em;
    }
    nav a {
	background-color: transparent;
	border: none;
	text-decoration: underline;
	padding: 0;
	margin: 0;
    }
    
    .myClass{

	-webkit-column-count: 1;
	-moz-column-count: 1;
	column-count: 1;	
    }
}
*/
/*Dương Kim Hoàng Long*/
/*
body{
	margin: 1%;
	padding:1%;
	background-color: rgba(0,0,255,.2);
	font-size: 100%;
	min-width: 500px;

}
header, footer{
  background-color:#0066FF;
  padding: 1%;
  margin: 1%;
}
header h1{
	font-size: 3rem;
	color:rgba(0,0,0,.7);;

}
section{
  margin:1%;
    padding:1%;
}

nav a{
	display:block;
	background-color: white;
	border: 1px solid black;
	text-align: center;
	border-radius: 35px;
	text-decoration: none;
	padding: 2%;
	margin: 1%;
}
h1{
	text-align: center;
	color:rgba(255,0,0,.7);;
}

.myClass{
	margin: 0em 1em;
	padding:.75em;
	border: 1px solid black;
	border-radius: .25%;

	-webkit-column-count:3;
	-moz-column-count: 3;
	column-count:3;
	
}
ol{
	list-style:upper-roman; 
	margin:1em;
}
img{
	display:none;
}
footer{
	clear: both;
	text-align:center;
	text-transform: uppercase;
}
@media only screen and (min-width:900px){
  
  img{
    display:inline-block;
    width: 20%;
    padding:1%;
    margin-left:1%;
  }
  header, footer{
    background-color: transparent;
  }
  #left{
    display: inline-block;
    width:30%;
    float: left;
  }
  #center{
    display: inline-block;
    width: 60%
  }
  h1::after {
    content:"“I guess”??"
  }
}

@media only print and (min-width:0px){
    header h1 {
        font-size: 1em;
    }
    nav a {
	background-color: transparent;
	border: none;
	text-decoration: underline;
	padding: 0;
	margin: 0;
    }
    

    .myClass{

	-webkit-column-count: 1;
	-moz-column-count: 1;
	column-count: 1;	
    }
}
*/
/*Koyya Gopal sai*/
/*
body{
	margin: 1%;
	padding:1%;
	background-color: rgba(0,0,255,.2);
	font-size: 100%;
	min-width: 500px;

}
header, footer{
  background-color:#0066FF;
  padding: 1%;
  margin: 1%;
}
header h1{
	font-size: 3rem;
	color:rgba(0,0,0,.7);;

}
section{
  margin:1%;
    padding:1%;
}

nav a{
	display:block;
	background-color: white;
	border: 1px solid black;
	text-align: center;
	border-radius: 35px;
	text-decoration: none;
	padding: 2%;
	margin: 1%;
}
h1{
	text-align: center;
	color:rgba(255,0,0,.7);;
}

.myClass{
	margin: 0em 1em;
	padding:.75em;
	border: 1px solid black;
	border-radius: .25%;

	-webkit-column-count:3;
	-moz-column-count: 3;
	column-count:3;
	
}
ol{
	list-style:upper-roman; 
	margin:1em;
}
img{
	display:none;
}
footer{
	clear: both;
	text-align:center;
	text-transform: uppercase;
}
@media only screen and (min-width:900px){
  
  img{
    display:inline-block;
    width: 20%;
    padding:1%;
    margin-left:1%;
  }
  header, footer{
    background-color: transparent;
  }
  #left{
    display: inline-block;
    width:30%;
    float: left;
  }
  #center{
    display: inline-block;
    width: 60%
  }
  h1::after {
    content:"Ã¢â‚¬Å“I guessÃ¢â‚¬Â??"
  }
}

@media only print and (min-width:0px){
    header h1 {
        font-size: 1em;
    }
    nav a {
	background-color: transparent;
	border: none;
	text-decoration: underline;
	padding: 0;
	margin: 0;
    }
    

    .myClass{

	-webkit-column-count: 1;
	-moz-column-count: 1;
	column-count: 1;	
    }
}
*/
/*erick flores*/
/*
*{
    margin:0;
    padding:0;
}
body{
    background: #cccccc;
}
header, .main, footer{
    background: #cccccc;
    width:95%;
    max-width:1000px;
    margin: 20px auto;
}
header nav {
    background:#528fd5;
    overflow: hidden;
}
header nav ul{
    list-style: none;
}
header nav ul li{
    float: left;
} 
header nav ul li a{
    padding:10px 20px;
    display:block;
    color:#fff;
    font-size:20px;
    text-decoration:none;
}
header nav ul li a:hover{
    background-color: rgba(0, 162, 255,.9);
}
.main .articles{
    width:68.5%;
    margin-right:1.5%;
    float:left;
}
.main .articles article{
    padding:20px;
    background: #ffffff;
    margin-bottom:20px;
}
aside {
    width:25%;
    background:red;
    font-size:1em;
    float:left;
    padding:20px;
    box-sizing: border-box;
}
footer{
    background: black;
    color:white;
    clear:both;
    padding:10px 0px;
    text-align:center;
}
*/
